@model IEnumerable<UserManagerViewModel>


@* Notification when creation -deletion -updation*@
<partial name="NotificationTriggerPartial" />


<h1>All Users</h1>

<br />

<form asp-action="Index" id="searchForm" method="get" class="mt-5 row justify-content-center align-items-center">
    <div class="row col-12">
        <div class="col-5">
            <label for="searchInp" class="form-label visually-hidden">Search Users</label>

            <input type="text" name="search" class="form-control search-input" id="searchInp"
                   placeholder="Search Users"
                   value="@Context.Request.Query["search"]"
                   data-controller="UserManager"
                   data-table-id="usersTable" />
        </div>
    </div>
</form>

<partial name="Partials/_UsersTablePartial" />



