@model RolesManagerViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center flex-column">


    <h1 class="col-6 my-4">Edit Role</h1>
    <partial name="Partials/CreateEditRolePartial" />


</div>


@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}


